{% extends "layouts/base.html" %}

{% block title %} Template Page {% endblock %}

{% block body_class %} index-page {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

{% include 'includes/navigation-transparent.html' %}

<div class="page-header min-vh-80"
     style="background-image: url('https://unctad.org/sites/default/files/2020-08/Investment-Trends_800x450.jpg')">
    <span class="mask bg-gradient-dark opacity-6"></span>
    <div class="container">
        <div class="row">
            <div class="col-md-8 mx-auto">
                <div class="text-center">
                    <h1 class="text-white">INVESTMENT OPPORTUNITIES</h1>
                    <h3 class="text-white">Maximize Your Returns</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card card-body shadow-xl mx-3 mx-md-4 mt-n6">
    <div class="container">
        <div class="section text-center">
            <h2 class="title">SHORT TO LONG-TERM INVESTMENT</h2>
            <p class="pe-5 text-justify">we build for you your investment portfolio in order to guarantee you a maximum
                return according to your investment. thanks to our loan allocation algorithm and the cooperation of
                European banks, your investment is safe with us. Gain up to 5 % annual return on your investment
                are you an Investor? click on the link below to create you profile.
            </p>
        </div>
        <div class="row">
        {% for loan in loans %}
            <div class="col-12 col-sm-4 col-md-4 col-lg-4">
                <div class="card card-body">
                    <h5 class="card-title">Loan {{loan.amount}} Euros</h5>
                    <p>Student: </p>
                    <p>Rate of interest : {{loan.rate}} </p>
                    <p>Duration: {{loan.loan_duration}} years </p>
                    <form action="{% url 'invest' %}" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{loan.id}}">
                        <button type="submit" class="btn btn-primary">Invest</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        </div>

<!--            <a href="{% url 'login' %}" class="text-info text-sm icon-move-right">Invest-->
<!--                <i class="fas fa-arrow-right text-xs ms-1"></i>-->
<!--            </a>-->
<!--            <div class="container my-auto col-lg-6 col-md-8 col-12 mx-auto">-->
<!--                <form class="p-3" action="{% url 'invest' %}" id="contact-form" method="post">{% csrf_token %}-->
<!--                    <div class="card-header px-4 py-sm-5 py-3">-->
<!--                        <h2>Let's Go!</h2>-->
<!--                        <p class="lead">We will evaluate your return after you submited these-->
<!--                            informations.</p>-->
<!--                    </div>-->
<!--                    <div class="card-body pt-1">-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-12 pe-2 mb-3">-->
<!--                                <div class="input-group input-group-static mb-4">-->
<!--                                    <label for="percentage">Percentage</label>-->
<!--                                    <select id="percentage" name="percentage" class="form-control">-->
<!--                                        <option value="10">10%</option>-->
<!--                                        <option value="20">20%</option>-->
<!--                                        <option value="30">30%</option>-->
<!--                                    </select>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-12 pe-2 mb-3">-->
<!--                                <div class="input-group input-group-static mb-4">-->
<!--                                    <label>Student Amount ($)</label>-->
<!--                                    <input type="number" name="student_amount" class="form-control"-->
<!--                                           placeholder="Student Amount">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-12 pe-2 mb-3">-->
<!--                                <div class="input-group input-group-static mb-4">-->
<!--                                    <label>Student loan duration (years)</label>-->
<!--                                    <input type="number" name="student_duration" class="form-control"-->
<!--                                           placeholder="Student loan duration">-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                        <div class="row">-->
<!--                            <div class="col-md-6 text-end ms-auto">-->
<!--                                <button type="submit" class="btn bg-gradient-info mb-0">Submit</button>-->
<!--                                &lt;!&ndash;                        <button type="submit" class="btn bg-gradient-info mb-0">Submit</button>&ndash;&gt;-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
        
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
